# DSS GM Lecture 2: NumPy & Matplotlib

Level 1 Lecture | Monday, March 2, 2020

Instructors: Safwan Masood & Ingrid Chien

### Introduction

Welcome to tonight's lecture! Today you will be learning about:

* Advanced NumPy
* Advanced Pandas
* Data Cleaning Techniques
* Intro to visualizations in matplotlib

In [ ]:
# Import the libraries we need
from datascience import *
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

### NumPy Practice

* Building a table from scratch
* Filtering/Data Cleaning

In [ ]:
# Let's create our own table
# We will create a table with important information about universities

In [ ]:
# We begin by making arrays from scratch to add onto our table

college_names = np.array(['UC Berkeley', 'UC Santa Cruz', 'UC San Diego', 'Stanford', 'Harvard', 'CalTech', 'Princeton', 'USC', 
                          'MIT', 'Yale', 'Columbia', 'Cornell', 'UCLA', 'UChicago', 'Georgia Tech', 'Amherst', 'Harvey Mudd', 
                          'Swarthmore', 'UT Austin', 'Williams', 'Dartmouth', 'UC Davis', 'UNC', 'UVA', 'Michigan', 
                          'Smith College', 'Wellesley', 'UPenn', 'Brown', 'NJIT', 'NYU', 'UC Santa Barbara', 'Wyoming',
                          'Arizona', 'Arizona State', 'Oregon', 'Alabama', 'Florida', 'UMiami', 'Duke', 'Northwestern'])

college_type = np.array(['Best', 'Weird', 'Public', 'Subpar', 'Private', 'Engineering', 'Private', 'Subpar', 'Engineering',
                         'Private', 'Private', 'Private', 'Subpar', 'Private', 'Engineering', 'Private', 'Engineering', 'Private',
                         'Public', 'Private', 'Private','Public', 'Public', 'Public', 'Public', 
                         'Private', 'Private', 'Private', 'Weird', 'Engineering', 'Private','Party', 'Public',
                         'Party', 'Party', 'Public', 'Party','Public', 'Party', 'Private', 'Private'])

college_rating = np.array([11, 3, 6, -1, 10, 10, 9, -1, 10, 9, 8, 7, 0, 7, 8, 8, 9, 8, 8, 9, 7, 6, 7, 8, 9, 8, 9, 9, 3, 5, 8, 
                            2, 7, 4, 4, 6, 6, 7, 6, 10, 9])

college_location = np.array(['California', 'California', 'California', 'California', 'Massachusetts', 'California', 'New Jersey',
                             'California', 'Massachusetts', 'Connecticut', 'New York', 'New York', 'California', 'Illinois', 'Georgia',
                             'Massachusetts', 'California', 'Pennsylvania', 'Texas', 'Massachusetts', 'New Hampshire', 'California', 
                             'North Carolina', 'Virginia', 'Michigan', 'Massachusetts', 'Massachusetts', 'Pennsylvania',
                             'Rhode Island', 'New Jersey', 'New York', 'California', 'Wyoming', 'Arizona', 'Arizona', 'Oregon',
                             'Alabama', 'Florida', 'Florida', 'North Carolina', 'Illinois'])

In [ ]:
#Let's make the table
colleges = Table().with_columns('College', college_names, 'Location', college_location,
                                'Type', college_type, 'Rating', college_rating)
colleges

In [ ]:
#Sort the table by rating from highest to lowest
colleges.sort('Rating', descending=True)

In [ ]:
# All of the private schools
colleges.where('Type', 'Private')

In [ ]:
# Average rating of public schools
np.mean(colleges.where('Type', 'Private').column('Rating'))

In [ ]:
# Find all of the schools in California
# Write your code here

In [ ]:
# Find all of the 'subpar' schools
# Write your code here

In [ ]:
# Find all the 'weird' schools
# Write your code here

In [ ]:
# Find the 'best' school
# Write your code here

In [ ]:
# Find the count of each type of school
# Write your code here

In [ ]:
# Find the how many schools are in each state
# Write your code here

In [ ]:
# Find the average rating of schools in Massachusetts
# Write your code here

In [ ]:
# Find the average rating of schools in California
# Write your code here

### Pandas Practice

* Filtering
* Dropping rows/columns
* Selecting certain data
* Taking statistics
* Visualizing

### The Dataset

This dataset contains data from just this past college football season (2019).

* Some of the different types of data are: offensive touchdowns, defensive ranking, yards per play, number of games played, etc
* Each row represents one team's figures in each statistical category. 
* There are a total of 130 rows and 146 columns. 
* We imported this dataset from Kaggle.

### Importing Data

To load data on a jupyter notebook, you must first download the dataset on your laptop/computer. It will most likely be an excel file if you download it from Kaggle. Next, you go to datahub.berkeley.edu which takes you to your very own jupyter hub.

Once on jupyter, you look to the top right corner where it says 'Upload'. You click it, and it will direct you to your files. From there, retrieve the dataset from wherever your saved it and upload. 

Once uploaded, open a new jupyter notebook by clicking the 'New' button, which is right next to the 'Upload' button. Once you click it, a dropdown menu will pop up, click 'Python 3'. 

Once a new jupyter notebook is up and running, you import pandas as 'pd', just like we do below. Then, you will think of a name for your table and then assign that to the following command 'pd.read_csv('filename.csv')' Here's the way we did it: 

cfb = pd.read_csv('CFB2019.csv')

In [ ]:
cfb = pd.read_csv('CFB2019.csv')

In [ ]:
cfb.head(10)

In [ ]:
# Find the names of columns
cfb.columns

In [ ]:
# Find the highest offensive yards per game
max(cfb['Off Yards per Game'])

In [ ]:
# Find the average games played
cfb['Games'].mean()

In [ ]:
# Find the team that achieved the highest offensive yards per game
cfb.sort_values('Off Yards per Game', ascending=False)[['Team']].iloc[0]

In [ ]:
# Find the top 5 offensive teams
cfb.sort_values('Off Rank')[['Team']].iloc[0:5]

In [ ]:
# Find the top 10 defensive ranked teams
# Write your code here

In [ ]:
# Find teams that are ranked in the top 20 for both offense and defense
# Write your code here

In [ ]:
# Find the average offensive yards per game among all teams
# Write your code here

In [ ]:
# Find the average offensive yards per game for teams in the top 10
# Write your code here

In [ ]:
# Rename the 'Interceptions Thrown.y' to 'Interceptions'
# Write your code here

### Matplotlib Practice

In [ ]:
#Let's find a correlation between offensive plays and offensive yards

In [ ]:
plt.scatter(cfb['Off Plays'], cfb['Off Yards'])
plt.title('Offensive Plays vs Offensive Yards');
plt.xlabel('Offensive Plays')
plt.ylabel('Offensive Yards');

In [ ]:
# We want to see if there is a correlation between offensive and defensive ranks
# Make a scatter plot that shows a correlation between offensive rank and defensive rank

In [ ]:
#Your code here